<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex>
    <mat-toolbar class="header">
      <button mat-fab (click)="getTodos()" i18n="@@UpdateButton" color="primary">
        <mat-icon>update</mat-icon>
      </button>
      <span role="header" color='primary'>My Todos</span>
    </mat-toolbar>

    <mat-card class="main-card">
      <mat-card-content>
        <mat-form-field class="field">
          <input #newTodo matInput placeholder="todo">
        </mat-form-field>
        <button mat-fab (click)="addTodo(newTodo.value); newTodo.value = ''">
          <i class="material-icons">add</i>
        </button>
      </mat-card-content>

      <mat-card-content>
        <mat-checkbox [(ngModel)]="showDone"><span i18n="@@ShowDoneCheck">show done</span></mat-checkbox>
      </mat-card-content>

      <mat-card-content>
        <mat-list>
          <ng-container *ngFor="let todo of todos$ | async; trackBy: trackByTodos" >
            <mat-list-item *ngIf="! todo.checked || showDone">

              <button mat-mini-fab (click)="doneTodo(todo.id)" color="primary" [disabled]="todo.checked">
                <mat-icon>done</mat-icon>
              </button>

              <app-todo-editor class="editor" [todo]="todo"></app-todo-editor>

              <button mat-mini-fab (click)="deleteTodo(todo.id)" color="primary">
                <mat-icon>delete_forever</mat-icon>
              </button>

            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
