<div fxLayout="row">
    <div fxFlex></div>
    <div fxFlex>
      <mat-card class="signup-card">
        <mat-card-header>
          <mat-card-title class="signup-title" i18n="@@SignupTitle">Signup</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="!successfullySignup">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup(signupForm.value)">
            <div>
              <mat-form-field class="signup-field">
                <input matInput type="email" class="form-control" placeholder="Enter email" formControlName="email">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="signup-field">
                <input matInput type="password" class="form-control" placeholder="Password" formControlName="password">
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button type="submit" class="btn-primary signup-field" color="primary" i18n="@@SignupSubmit">Signup</button>
            </div>
          </form>
        </mat-card-content>
        <mat-card-content>
          <p *ngIf="!successfullySignup" i18n="@@SignupConfirmCodeShowDescription">Click here to enter confirmation code</p>
          <button mat-raised-button (click)="successfullySignup = true" *ngIf="!successfullySignup" class="btn-secondary signup-field" i18n="@@SignupConfirmCodeShow">Authentication with confirmation code</button>
        </mat-card-content>
        <mat-card-content *ngIf="successfullySignup">
          <form [formGroup]="confirmationForm" (ngSubmit)="onSubmitConfirmation(confirmationForm.value)">
            <div>
              <mat-form-field class="signup-field">
                <input matInput type="email" class="form-control" placeholder="Enter email" formControlName="email">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="signup-field">
                <input matInput type="text" class="form-control" placeholder="Enter Confirmation Code" formControlName="confirmationCode">
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button type="submit" class="btn-primary signup-field" color="primary" i18n="@@SignupConfirmCodeSubmit">Authentication</button>
            </div>
          </form>
          <div>
            <button mat-raised-button (click)="successfullySignup = false" class="btn-secondary signup-field" i18n="@@SignupConfirmCodeBack">Back</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex></div>
</div>
